.contactItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  border-radius: 5px;
  padding: 10px;
  gap: 20px;
}

.contactInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.btn {
  height: 40px;
  padding: 8px;
  border: 1px solid gray;
  border-radius: 8px;
}

.icon {
  margin-right: 15px;
}
